<launch>
    <node pkg="sicktoolbox_wrapper" type="sicklms" name="sicklms_node" output="screen">
		<param name="port" type="string" value="/dev/bottomLaser" />
		<!--param name="port" type="string" value="/home/borg/sudo/brain/dev/laser.BACKUP.10318" /-->
		<param name="baud" type="int" value="500000" />
	</node>
</launch>
